@import "../../../style/scss/mixin.scss";
@import "../../../style/scss/values.scss";
.wrapper {
  margin-top: 30px;
  .name {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 420px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  h2 {
    font-size: 26px;
  }
  .buttons {
    button {
      @include button;
      box-sizing: border-box;
      background-color: $colorButton;
      color: white;
    }
    button:hover {
      background-color: $colorButtonHover;
    }
  }
}

.table {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  th {
    border-bottom: 3px solid #b9b29f;
    padding: 10px;
    text-align: center;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(odd) {
    background: white;
  }
  tr:nth-child(even) {
    background: #e8e6d1;
  }
  input {
    width: 100px;
  }
  img {
    margin: 0 auto;
    height: 60px;
  }
}
.itemsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;

  @media screen and (max-width: 1170px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
