@import "../../style/scss/mixin.scss";
.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.wrapper {
  grid-column: 2;

  display: flex;
  width: 100%;
  justify-content: center;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .changePage {
    @include notFill;

    &:hover {
      @include fill;
    }
  }
  .activePage {
    @include fill;
  }
}
.setCountLine {
  grid-column: 3;

  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .openModal {
    @include notFill;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      @include fill;
    }
  }
  .modalLinesChange {
    position: absolute;
    bottom: -25px;
    right: 15px;
    display: flex;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--color-border-not-fill-button);

    button {
      cursor: pointer;
      @include notFill;
      border: none;
      &:hover {
        @include fill;
        border: none;
      }
    }
  }
}
