table {
  width: 100%;

  color: var(--color-text);
  border-spacing: 0px;
  .theadTable tr {
    border: 1px solid var(--border-table);

    td:first-child {
      border-radius: 10px 0px 0px 0px;
    }
    td:last-child {
      border-radius: 0px 10px 0px 0px;
    }
  }
  .itemHead {
    text-align: center;
    min-height: 44px;
    .line {
      border: 1px solid var(--border-table);
      margin: 0 auto;

      &:hover {
        cursor: pointer;
        background-color: var(--hover-tr-color);
        img {
          transform: rotate(360deg);
          transition: 10s;
        }
      }
      img {
        display: block;
        margin: 0 auto;
        width: 40px;
      }
    }
  }
}

.item {
  &:hover {
    cursor: pointer;
    background-color: var(--hover-tr-color);
  }
  .line {
    text-align: center;
    width: 25%;
    border: 1px solid var(--border-table);
    .main {
      font-size: 20px;
      span {
        font-size: 12px;
      }
    }
    .change {
      font-size: 14px;
    }
    .up {
      color: var(--up);
    }
    .down {
      color: var(--down);
    }
    .normal {
      color: var(--normal);
    }
  }
}
