@import "../../style/scss/mixin.scss";
@import "../../style/scss/values.scss";
.buttonFill {
  @include button;

  transition: 0.2s;

}
.relative {
  position: relative;
  @media screen and (max-width: $menuSync) {
    position: static;
  }
}
.autofill {
  @include fill;
}
.autoFillNone {
  @include notFill;
  @media (hover: hover) {
    &:hover {
      @include fill;
    }
  }
}

.details {
  @include details;
  
}
