@import "../../style/scss/mixin.scss";

.buttonFill {
  @include button;

  margin-left: 20px;
  transition: 0.2s;
  margin-bottom: 10px;
}
.autofill {
  @include fill;
}
.autoFillNone {
  @include notFill;
  &:hover {
    @include fill;
  }
}

.details {
  @include details;
  .additionalFunction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
