@import "../../../style/scss/mixin";
@import "../../../style/scss/values";
.buttonOpenModal {
  display: flex;
  position: relative;
  @media screen and (max-width: 750px) {
    position: static;
  }
}
.auth {
  margin-left: 10px;
  transition: 0.3s;
  @include button;
  background-color: var(--bgc-color-button);
  @include sizes;
  @include fill;
  border: none;

  @media screen and (max-width: 750px) {
    height: 50px;
    width: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 15px 15px;
  }
  @media screen and (max-width: $modalMenu) {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0px;
    background-color: var(--color-bgc-color);

    color: var(--color-text);
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 15px;
  }
  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
      @include notFill;
      border: none;
      @media screen and (max-width: 750px) {
        transform: scale(1);
      }
    }
  }
}
