@import "../../../style/scss/mixin";

.buttonOpenModal {
  display: flex;
  position: relative;
  @media screen and (max-width: 450px) {
    position: static;
  }
}
.auth {
  margin-left: 20px;
  transition: 0.3s;
  @include button;
  background-color: var(--bgc-color-button);
  @include sizes;
  @include fill;
  border: none;
  @media screen and (max-width: 750px) {
    height: 50px;
    width: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 15px 15px;
  }
  @media screen and (max-width: 450px) {
    border-radius: 0px;
    background-color: var(--bgc-color-button);
  }
  &:hover {
    transform: scale(1.1);
    @include notFill;
    border: none;
    @media screen and (max-width: 750px) {
      transform: scale(1);
    }
  }
}
