@import "../../../style/scss/mixin";
@import "../../../style/scss/values";
.modal {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 80px;
  right: 10px;

  z-index: 9999999;

  
  @media screen and (max-width: $modalMenu) {
    position: fixed;
    border: 0px;
    left: 0px;
    top: 0px;
    width: 100vw;
    border-radius: 0px;
    height: 100vh;
  }
  .wrapper {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--modal-bgc-color);
    box-shadow: 2px 5px 5px var(--box-shadow-color);
    border: 1px solid var(--modal-color-border);
    @media screen and (max-width: $modalMenu) {
      height: 100%;
      border-radius: 0px;
      border: 0px;
    }
  }
}
.buttons {
  display: flex;
  width: 100%;

  .close {
    display: none;
    @include button;
    width: 50px;
    height: 100%;
    color: var(--color-text-fill);
    background-color: var(--color-border-not-fill-button);
  }
  
  
}
