.wrapper {
  position: absolute;
  width: 200px;
  height: 350px;
  margin-top: 60px;
  overflow-x: auto;
  background-color: white;
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  img:hover {
    background-color: rgba(238, 184, 5, 0.547);
    cursor: pointer;
  }
}
