@import "../../../../style/scss/mixin.scss";

.form {
  display: flex;
  padding: 20px 10px;
  border-radius: 15px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bgc-color);
  height: 100%;
  border-radius: inherit;
  .submit {
    @include button;
    background-color: var(--colorButton);
    color: var(--color-text-fill);
    margin-left: 20px;
    @media screen and (max-width: 800px) {
      margin-left: 0px;
    }
  }
  .submit:hover {
    background-color: var(--colorButtonHover);
  }
  .inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

    .inputBlock {
      width: 100%;

      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 5px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 10px;
      }
      label {
        font-weight: 600;
        color: var(--label-color);
      }
      label:hover {
        cursor: pointer;
        color: var(--label-color-hover);
      }

      input {
        cursor: pointer;
        max-width: 200px;
        border-bottom: 1px solid var(--input-border-color);
        background-color: inherit;
        color: var(--color-input);
      }

      position: relative;
      .errorMessage {
        color: var(--error-color-message);
        font-size: 12px;
        width: 200px;
        height: 0px;
        text-align: center;
      }
    }
  }
}

.infoSide {
  position: absolute;
  background-color: var(--color-modal-hover-add);
  border-radius: 15px;
  padding: 5px;
  z-index: 100;
  box-shadow: 3px 3px 10px var(--box-shadow-color);
  top: -70px;
  min-width: 400px;
  text-align: center;
  @media screen and (max-width: 420px) {
    width: 340px;
    min-width: 340px;
  }
}
.downloadFile {
  min-width: 200px;
  height: 61px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--dnd-bgc-color);
  cursor: grab;
  border: 1px dashed var(-dnd-border-color);
}
.inputsCommon {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1170px) {
    flex-direction: column;
    align-items: center;
  }
}
input[type="date"] {
  width: 110px;
}
.details {
  display: none;
}
