@import "../../style/scss/mixin";
.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--color-border-not-fill-button);
  flex-direction: column;
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  div {
    display: flex;
    justify-content: space-between;

    button {
      @include button;
      @include fill;
      margin: 0px 10px;
      @media screen and (hover: hover) {
        &:hover {
          @include notFill;
        }
      }
    }
  }
}
