@import "../../style/scss/mixin.scss";

.root {
  @include sizes;
  a {
    @include button;
    transition: 0.3s;
  }
  a:not(:last-child) {
    margin-right: 10px;
  }
  .active {
    @include fill;
  }
  .inactive {
    @include notFill;
  }
  .inactive:hover {
    @include fill;
  }
  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a:not(:last-child) {
      margin-right: 0px;
      border-radius: 15px 15px 0px 0px;
    }
    .inactive:hover {
      @include fill;
    }
    .inactive {
      border: none;
    }
    a {
      height: 50px;
      font-size: 18px;
      text-align: center;
      border-radius: 0px;
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .inactive:hover {
      @include fill;
      background-color: var(--bcg-color-hover-modal-links);
      border: none;
    }
    .inactive {
      @include notFill;
      background-color: var(--color-modal-burger-bgc);
      color: var(--color-close-modal-burger);
      border: none;
    }
    a:not(:last-child) {
      margin-right: 0px;
      border-radius: 0px;
    }
    a {
      height: 50px;
      font-size: 18px;
      text-align: center;
      border-radius: 0px;
      width: 100%;
    }
  }
}
