@import "../../../../UI/scss/values.scss";
.image {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border-radius: 20px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all 0.3s ease;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
    @media screen and (max-width: $CartAdaptive700) {
      max-height: 300px;
    }
  }
}
