.headWrapper {
  color: var(--color-text);
  .head {
    font-size: 26px;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.description {
  text-indent: 1.5em;
  font-size: 18px;
  @media screen and (max-width: 450px) {
    text-indent: 0;
    text-align: justify;
  }
  a {
    border-bottom: 1px solid var(--colorButton);
  }
}
