.wrapper {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 240px;
  height: 100px;
  color: var(--color-text);
  background-color: var(--color-bgc-main);
  box-shadow: 5px 5px 1px 1px var(--box-shadow-main);
  border-radius: 15px;
  transition: 0.3s;
  animation-duration: 1s;
  animation-name: open;
  z-index: 10000;
  border: 1px solid var(--box-shadow-main);
  @media screen and (max-width: 600px) {
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (hover: hover) {
    &:hover {
      transition: 0.3s;
      height: 130px;
    }
    &:hover .line:last-child {
      transition: 0.3s;
      max-height: 100px;
    }
  }
  .line {
    display: flex;
    transition: inherit;
    &:first-child {
      padding: 5px;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      border-bottom: 1px solid var(--noticed-color-border);
    }
    &:last-child {
      padding: 0px 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-height: 48px;
    }
    .info {
      background-color: var(--color-bgc-main);
      transition: inherit;
    }
    .hide {
      cursor: pointer;
      background-color: inherit;
      outline: none;
      border: none;
      color: var(--color-text);
      border-top: 1px solid var(--noticed-color-border);
      @media (hover: hover) {
        &:hover {
          color: var(--color-hide-hover);
        }
      }
    }
    .close {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 20px;
      color: var(--color-text);
      @media (hover: hover) {
        &:hover {
          color: var(--color-close-hover);
        }
      }
    }
  }
}
@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
