@import "../../../../UI/scss/mixin.scss";
@import "../../../../UI/scss/values.scss";

.groupInput {
  margin: 15px 0px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  input {
    max-width: 100px;
    background-color: var(--color-bgc-main);
    color: var(--color-text);
    border-bottom: 1px solid var(--bgc-color-layout);
  }
}
