.str {
  color: var(--color-text);
  td input {
    border: none;
    outline: none;
    background-color: inherit;
  }

  td button {
    background-color: inherit;
    border: none;
    outline: none;
    color: var(--color-text);
  }
  @media (hover: hover) {
    td button:hover {
      color: green;
      cursor: pointer;
    }
  }
  td button:disabled {
    color: red;
    cursor: not-allowed;
  }
  svg {
    font-size: 20px;
  }
}
