.item {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: var(--hover-tr-color);
    }
  }
  .line {
    text-align: center;
    width: 25%;
    border: 1px solid var(--border-table);
    .main {
      font-size: 20px;
      span {
        font-size: 12px;
      }
    }
  }
}
