@import "../../style/scss/mixin.scss";
@import "../../style/scss/values.scss";
.buttonFill {
  @include button;

  margin-left: 20px;
  transition: 0.2s;
}
.autofill {
  @include fill;

  &:hover {
    background-color: black;
  }
}
.autoFillNone {
  @include notFill;
  &:hover {
    @include fill;
  }
}

.details {
  margin-top: 20px;
  .additionalButton {
    @include button;
    @include notFill;
    transition: 0.2s;
    &:hover {
      @include fill;
    }
  }
  .additionalFunction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  &[open] > summary {
    @include fill;
  }
}
