@mixin wrapper {
  width: 1170px;
  margin: 0 auto;
}
@mixin wrapper1200 {
  width: 100%;
  margin: 0 auto;
  padding: 0px 5px;
}
@mixin button {
  outline: none;
  border: none;
  background-color: inherit;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
